<% include partials/header.ejs %>

<div class="">
	<form class="" id="adminFormEpisodeNewEdit" action="<%= form && form.redirectTo ? form.redirectTo : '' %>" enctype="multipart/form-data" role="form">
		<input type="hidden" name="action" value="<%= form.ajaxAction %>" />
		<% if ( form.isEditing ) { %>
	        <input type="hidden" name="id" value="<%= form.item._id %>" />
	    <% } %>

		<div class="alert alert-dismissible alert-warningformErrorBox hide">
			<p class="textMessage">Existem campos inválidos abaixo, verifique-os ante de prosseguir.</p>
		</div>

		<div class="alert alert-dismissible alert-success formSuccessBox hide">
			<p class="textMessage">Episódio salvo com sucesso!</p>
		</div>	

		<div class="row">

			<div class="col-md-6">
				
				<div class="form-group mtop-0">
					<label class="control-label" for="title">Anime</label>
					<%
						var preSelectedOwnerId = form.isEditing ? utils.print( form.item._owner._id ) : '';
						if (!preSelectedOwnerId && form.owner) {
							preSelectedOwnerId = form.owner._id;
						}
					%>
					<input type="hidden" name="_owner" value="<%= utils.print(preSelectedOwnerId) %>" />
					<select class="form-control" name="owner" id="owner">
						<% if (form.isEditing) { %>
							<option value="<%= utils.print( form.item._owner._id ) %>" selected><%= utils.print( form.item._ownerName ) %></option>
						<% } else if (form.selectedOwner) { %>
							<option value="<%= utils.print( form.owner._id ) %>" selected><%= utils.print( form.owner.title ) %></option>
						<% } else { %>
							<option></option>
						<% } %>
					</select>
				</div>

				<div class="form-group label-floating">
					<label class="control-label" for="title">Título</label>
					<input type="text" id="title" name="title" class="form-control" value="<%= form.isEditing ? utils.print( form.item.title ) : '' %>" required autofocus>
				</div>

				<div class="form-group label-floating">
					<label class="control-label" for="number">Número do episódio</label>
					<input type="text" id="number" name="number" class="form-control" value="<%= form.isEditing ? utils.print( form.item.number ) : '' %>">
				</div>

				<div class="form-group checkbox">
					<label class="control-label">Lançamento</label>

					<div class="togglebutton">
						<label>
							<% var releaseChecked = form.isEditing && form.item.release ? true : false; %>
							<input type="checkbox" name="release" <%= releaseChecked ? ' checked' : '' %>> Ative para que este episódio ganhe destaque na home
						</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Tipo</label>
					<div class="radio">
						<% for(i in form.types) {
							var auxType = form.types[i];
							var auxChecked = false;
							if ( form.isEditing ) {
								if ( form.item.type[auxType.slug] ) {
									auxChecked = true;
								}
							} else if ( auxType.default ) {
								auxChecked = true;
							}
							%>
							<label><input name="itemType" type="radio" value="<%= auxType.slug %>"<%= auxChecked ? ' checked' : '' %>> <%= auxType.title %></label>
							
						<% } %>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="tags">Tags</label>
					<input type="text" id="tags" name="tags" class="form-control" value="<%= form.isEditing ? utils.print( form.item.tags.join(',') ) : '' %>" data-role="tagsinput">
				</div>

				<div class="form-group label-floating">
					<label class="control-label" for="description">Descrição</label>
					<textarea id="description" name="description" class="form-control" rows="3" id="textArea"><%= form.isEditing ? utils.print( form.item.description ) : '' %></textarea>
				</div>

			</div>

			<div class="col-md-6">
				<% if ( form.isEditing && form.item.media.file ) { %>
			        <div class="boxHasMedia">
			            <input type="hidden" name="hasMedia" value="1" />
			            <div class="embed-responsive embed-responsive-16by9">
	                    	<video controls class="previewVideoPlayer" preload="none">
	                    		<source src="<%= utils.getWebseedUrl(form.item.media.file) %>" type="video/mp4">
	                    	</video>
	                    </div>
			            <div>
		                    <a href="javascript:void(0)" class="changeMedia btn btn-raised btn-danger"><i class="fa fa-close"></i> Remover Vídeo</a>
	                    </div>
	                </div>
			    <% } %>

			    <div class="boxSetMedia">
			    	<label class="control-label">Escolha a forma de upload</label>

			    	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active">
							<a href="#normalUploadWay" data-toggle="tab">Upload</a>
						</li>
						<li>
							<a href="#ftpWay" data-toggle="tab">FTP</a>
						</li>
						<li>
							<a href="#hotlinkWay" data-toggle="tab">Url</a>
						</li>
						<li>
							<a href="#youtubeWay" data-toggle="tab">YouTube</a>
						</li>
					</ul>
						
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="normalUploadWay">
							<div class="form-group label-floating">
								<label class="control-label" for="media">Selecione o arquivo de vídeo</label>

								<div class="input-group">
									<input type="text" readonly class="form-control fileText" value="<%= form.isEditing ? utils.print( form.item.media.file ) : '' %>">
									<span class="input-group-btn input-group-sm">
										<button type="button" class="btn btn-fab btn-fab-mini">
											<i class="fa fa-upload"></i>
										</button>
									</span>
								</div>

								<input type="file" id="media" name="media" value="<%= form.isEditing ? utils.print( form.item.media.file ) : '' %>" />
							</div>
						</div>

						<div class="tab-pane fade" id="ftpWay">
							<div class="form-group">
								<select class="form-control" name="ftpFile" id="ftpFile">
									<option></option>
								</select>
							</div>
						</div>

						<div class="tab-pane fade" id="hotlinkWay">
							<div class="form-group label-floating">
								<label class="control-label" for="hotlinkUrl">Url do arquivo</label>
								<input type="text" id="hotlinkUrl" name="hotlinkUrl" class="form-control" />
							</div>
						</div>

						<div class="tab-pane fade" id="youtubeWay">
							<div class="form-group label-floating">
								<label class="control-label" for="youtubeUrl">Url da página do YouTube</label>
								<input type="text" id="youtubeUrl" name="youtubeUrl" class="form-control" value="<%= form.isEditing ? utils.print( form.item.youtube ) : '' %>" />
								<p class="help-block">Esta funcionalidade apenas irá inserir o Embed no lugar do player</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="form-group divProgressBar" style="display: none;">
			<div class="progress progress-striped active">
				<div class="progress-bar"></div>
			</div>
		</div>

		<div class="form-group divLoading" style="display: none;">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="well well-lg">
						<p class="text-center">Processando, por favor aguarde.</p>
						<p class="text-center">Você será redirecionado após a finalização.</p>
						<hr />
						<% include partials/cube-loader.ejs %>
						<hr />
						<p class="text-center">Ou se preferir pode fechar esta aba pois o resto será feito automaticamente.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-raised"><%= form.isEditing ? "Salvar" : "Criar" %></button>
		</div>
	</form>
</div>

<% include partials/footer.ejs %>