<% include partials/header.ejs %>

<form class="" id="adminFormSerialNewEdit" action="<%= form && form.redirectTo ? form.redirectTo : '' %>" enctype="multipart/form-data" role="form">
	<input type="hidden" name="action" value="<%= form.ajaxAction %>" />
	<% if ( form.isEditing ) { %>
        <input type="hidden" name="id" value="<%= form.item._id %>" />
    <% } %>

	<div class="alert alert-dismissible alert-warningformErrorBox hide">
		<p class="textMessage">Existem campos inválidos abaixo, verifique-os ante de prosseguir.</p>
	</div>

	<div class="alert alert-dismissible alert-success formSuccessBox hide">
		<p class="textMessage">Título salvo com sucesso!</p>
	</div>	

	<div class="row">

		<div class="col-md-6">
			
			<div class="form-group label-floating">
				<label class="control-label" for="title">Título</label>
				<input type="text" id="title" name="title" class="form-control" value="<%= form.isEditing ? utils.print( form.item.title ) : '' %>" required autofocus>
			</div>

			<div class="form-group">
				<label class="control-label" for="genre">Gêneros</label>
				<select multiple id="genre" name="genre" class="form-control select2me">
					<% var selected %>
		            <% for(var i = 0; i < form.genres.length; i++) { %>
		                <%
		                    selected = '';
		                    if ( form.isEditing ) {
		                        if ( ~form.item.genre.indexOf( i ) ) {
		                            selected = ' selected';
		                        }
		                    }
		                %>
		                <option value="<%= i %>"<%= selected %>><%= form.genres[i] %></option>
		            <% } %>
				</select>
			</div>


			<div class="form-group label-floating">
				<label class="control-label" for="synopsis">Sinopse</label>
				<textarea id="synopsis" name="synopsis" class="form-control" rows="3" id="textArea"><%= form.isEditing ? utils.print( form.item.synopsis ) : '' %></textarea>
			</div>

		</div>

		<div class="col-md-6">
			<% if ( form.isEditing && form.item.cover ) { %>
		        <div class="boxHasImage">
		            <input type="hidden" name="hasImage" value="1" />
		            <div>
                    	<img class="thumbnail img-responsive" src="<%= utils.getCoverUrl(form.item.cover) %>" />
                    </div>
		            <div>
	                    <a href="javascript:void(0)" class="changeImage btn btn-raised btn-danger"><i class="fa fa-close"></i> Remover Imagem</a>
                    </div>
                </div>
		    <% } %>

			<div class="form-group label-floating boxSetImage">
				<label class="control-label" for="cover">Imagem de capa</label>

				<div class="input-group">
					<input type="text" readonly class="form-control fileText" value="<%= form.isEditing ? utils.print( form.item.cover ) : '' %>">
					<span class="input-group-btn input-group-sm">
						<button type="button" class="btn btn-fab btn-fab-mini">
							<i class="fa fa-upload"></i>
						</button>
					</span>
				</div>

				<input type="file" id="cover" name="cover" />
			</div>
		</div>
	</div>

	<div class="form-group divProgressBar" style="display: none;">
		<div class="progress progress-striped active">
			<div class="progress-bar"></div>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-raised"><%= form.isEditing ? "Salvar" : "Criar" %></button>
	</div>
</form>

<% include partials/footer.ejs %>