<% include partials/header.ejs %>

<div class="row">
	<div class="col-md-12">
		<a href="<%= page.links.serialNew.url %>" class="btn btn-primary btn-raised"><%= page.links.serialNew.title %></a>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered table-hover table-td-vertical-align-middle" id="manageThisTable" data-action="<%= list.ajaxListAction %>" data-delete-action="<%= list.ajaxDeleteAction %>">
		    <thead>
		        <tr>
		            <th>Capa</th>
		            <th>Título</th>
		            <!-- <th>Episódios</th> -->
		            <th>Ações</th>
		        </tr>
		    </thead>
		</table>
	</div>
</div>

<% include partials/footer.ejs %>