<% include partials/header.ejs %>

<form class="" id="adminFormUserNewEdit" action="<%= form && form.redirectTo ? form.redirectTo : '' %>" role="form">
	<input type="hidden" name="action" value="<%= form.ajaxAction %>" />
	<% if ( form.isEditing ) { %>
        <input type="hidden" name="id" value="<%= form.item._id %>" />
    <% } %>

	<div class="alert alert-dismissible alert-warningformErrorBox hide">
		<p class="textMessage">Existem campos inválidos abaixo, verifique-os ante de prosseguir.</p>
	</div>

	<div class="alert alert-dismissible alert-success formSuccessBox hide">
		<p class="textMessage">Usuário salvo com sucesso!</p>
	</div>	

	<div class="row">

		<div class="col-md-6">
			
			<div class="form-group label-floating">
				<label class="control-label" for="email">E-mail</label>
				<input type="text" id="email" name="email" class="form-control" value="<%= form.isEditing ? utils.print( form.item.email ) : '' %>" autofocus>
			</div>

			<div class="form-group label-floating">
				<label class="control-label" for="nickname">Apelido</label>
				<input type="text" id="nickname" name="nickname" class="form-control" value="<%= form.isEditing ? utils.print( form.item.nickname ) : '' %>">
			</div>

			<div class="form-group">
				<label class="control-label" for="level">Level</label>
				<select id="level" name="level" class="form-control select2me">
					<% var selected %>
		            <% for(var i = 0; i < form.levels.length; i++) { %>
		                <%
		                	if ( !form.levels[i] ) continue;

		                    selected = '';
		                    if ( form.isEditing ) {
		                        if ( form.item.level == i ) {
		                            selected = ' selected';
		                        }
		                    }
		                %>
		                <option value="<%= i %>"<%= selected %>><%= form.levels[i] %></option>
		            <% } %>
				</select>
			</div>


			<div class="form-group label-floating">
				<label class="control-label" for="description">Descrição</label>
				<textarea id="description" name="description" class="form-control" rows="3" id="textArea"><%= form.isEditing ? utils.print( form.item.description ) : '' %></textarea>
			</div>

		</div>

		<div class="col-md-6">
			<div class="form-group label-floating">
				<label class="control-label" for="password">Senha</label>
				<input type="password" id="password" name="password" class="form-control" value="">
			</div>

			<div class="form-group label-floating">
				<label class="control-label" for="passwordRepeat">Repita a senha</label>
				<input type="password" id="passwordRepeat" name="passwordRepeat" class="form-control" value="">
			</div>
		</div>
	</div>

	<div class="form-group divProgressBar" style="display: none;">
		<div class="progress progress-striped active">
			<div class="progress-bar"></div>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-raised"><%= form.isEditing ? "Salvar" : "Criar" %></button>
	</div>
</form>

<% include partials/footer.ejs %>