.dataTables_wrapper input:focus {
	outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.dataTables_length select {
	font-size: 0.8em;
}

table.table-td-vertical-align-middle > tbody > tr > td {
	vertical-align: middle;
}

table.table {
	tr {
		&.highlight {
			background-color: $colorSoftRedHighlight;
		}

		td .img-responsive {
			max-height: 120px;
			margin-bottom: 0;
		}

		td:last-child {
    		white-space: nowrap;
		}
	}
}

.dataTables_filter {
	float: right;

	input {
		margin-left: 8px;
    	font-size: 0.8em;
	}
}
.dataTables_paginate {
	float: right;
}