.nav-tabs > li {
	margin-bottom: 0;
	&.active {
		background-color: #7e57c2;
	}
}

.well.well-np {
	padding: 0 !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;    
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
	color: inherit;
	background-color: rgba(255,255,255,0.1) !important
}

ul.nav li.dropdown.active ul li.active:hover a {
	background-color: $colorHoverMain;
	color: rgba(255,255,255,.84);
}

a.label-primary {
	&:hover {
		background-color: $colorHoverMain !important;
	}
}

span.select2-container--bootstrap {
	width: auto !important;
}