@font-face { 
	font-family: 'Animout';
	src: url('../fonts/animout-webfont.eot');
	src: url('../fonts/animout-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/animout-webfont.woff') format('woff'),
	     url('../fonts/animout-webfont.ttf') format('truetype'),
	     url('../fonts/animout-webfont.svg#webfont') format('svg');
}