.site-footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: $colorMain;
    color: #FFF;
    border-top: 1px solid #E5E5E5;

    ul,
    li,
    a {
    	color: #FFF;
    }

    .mega-filmes {
        small {
            display: block;
        }
        a {
            padding: 8px;
            background-color: #B60000;

            img {
                width: 150px;
                max-width: 100%;
            }
        }

        
    }

    .footer-credit {
	    text-align: center;
	    margin-top: 35px;
	    opacity: 0.7;

	    i {
	    	color: #FF3131;
	    }

	    a {
	    	font-weight: 400;
	    }
    }
}