h1 {
	&.homeTopMenuLogo {
		font-size: 1em;
		display: inline;
	}
	&.animeListBreadcrumb {
	    font-size: 1em;
    	display: inline;
	}
}

.navbar-brand {
	font-family: 'Animout', Arial, sans-serif;
	font-size: 2.5em;
}

.responsiveAd {
	max-width: 728px;
	margin: 0 auto;
}

.partners > a {
    margin: 2px 1px;
}

.progress-default {
	height: 20px !important;
    border-radius: 4px !important;
    margin-bottom: 0 !important;

    .sr-only {
	    position: relative !important;
	    width: auto !important;
	    height: auto !important;
        white-space: nowrap !important;
    	padding: 0 8px !important;
    }
}

#donateModal {
	background-color: RGBA(0,0,0, 0.7) !important;
}