.boxVideoPlayer {
	background-color: #000;
	width: 100%;
	min-height: 200px;
}

.boxYoutubePlayer {}

.boxVideoInfo {
	.views {
		float: right;
	}
	.publish-date {
		font-weight: 400 !important;
	}
}

.boxFacebookComments {
	.fb-comments {
		width: 100%;
	}
}

.midrol {
	display: none;
	width: 468px;
	height: 60px;

    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -234px;

    .ops {
	    display: block;
	    width: 31px;
	    height: 15px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 1;
    }

    .ad-close {
    	display: block;
    	width: 15px;
    	height: 15px;
    	position: absolute;
		top: -7px;
    	right: -7px;
    	background: url('../images/bannerAdClose.png') no-repeat;
    	z-index: 1;
    }
}