.boxThumbnail {
	display: block;

	.imagePart {
		.imagePlace {
			position: relative;
		    padding-bottom: 140%;
		    overflow: hidden;

			.img-responsive {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 100%;
			}
		}
	}

	.infoPart {
		padding: 8px;
		//white-space: nowrap;
    	//overflow: hidden;
    	//text-overflow: ellipsis;
    	position: relative;
    	height: 56px;

		span {
			&, > a {
				color: #333;
			}

			&:hover, > * {
				text-decoration: none;
			}

			&.title {}

			&.views {
				display: block;
    			text-align: right;
    			font-size: 0.8em;
    			color: #666;

    			position: absolute;
    			bottom: 8px;
    			right: 8px;

    			> i {
    				
    			}
			}
		}
	}
}

.advancedEpisodeList {
	/*
	display: flex;
    align-items: center;
    justify-content: center;
    */

	> div {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}


	.imagePart {
		.imagePlace {
			position: relative;
		    padding-bottom: 140%;
		    overflow: hidden;

			.img-responsive {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    min-height: 100%;
			}
		}
	}
	.titleContentPart {
		position: relative;

		@media (max-width: 992px) {
		    padding: 8px 8px 0 8px;
		}

		.episodeTitleBox {
			
			@media (min-width: 768px) and (max-width: 992px) {
				height: 42px;
    		}

			padding-right: 55px;
    		margin-bottom: 6px;

			a {
	    		color: #333;
			    font-size: 18px;
	    		text-decoration: none;
	    		line-height: 1;

				span {
					vertical-align: middle;
				}

	    		.views {
	    			font-size: 9px;
	    			font-weight: 300;

	    			position: absolute;
				    top: 5px;
				    right: 10px;
	    		}
			}
		}

		.animeTitleBox {
			a {
			    font-size: 12px;
			    font-weight: 300;
			    @include border-radius(3px);

				&.ellipsis {
	    		    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    display: inline-block;
				    max-width: 100%;
	    			padding: 5px 5px;
				}

	    		.fa {}
			}
		}
	}
}

// Image hover effect
.imageOverlayEffect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $colorMain;
	opacity: 0;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

	&:hover {
		opacity: 0.3;
	}
}

table.first-borderless {
	tr:first-child td {
		border: 0;
	}
}