.boxAnimeInfo {
	.imagePart {
		img {
			width: 100%;
		}
	}

	.infoPart {
		> p {
			padding: 25px 25px 25px 0px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.boxAnimeInfo .infoPart p {
		padding-left: 25px;
	}
}