.mbot-0 {
	margin-bottom: 0;
}
.mbot-10 {
	margin-bottom: 10px;
}
.mbot-15 {
	margin-bottom: 15px;
}
.mbot-20 {
	margin-bottom: 20px
}

.mtop-0 {
	margin-top: 0;
}
.mtop-10 {
	margin-top: 10px;
}
.mtop-15 {
	margin-top: 15px;
}
.mtop-20 {
	margin-top: 20px
}