/* Colors */
$colorMain: #673ab7; // Escuro
$colorHoverMain: #7142c3; // Claro

$colorSoftRedHighlight: #e57373;
$colorRedHighlight: #f44336;

/* Fonts */
$fontFamilyMain: 'Roboto', sans-serif; // Roboto
$fontFamilyAnimout: 'Animout', Arial, sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}