@import 'fonts.scss';
@import 'variables.scss';

@import 'default-bootstrap-override.scss';
@import 'helpers.scss';

@import 'front-default.scss';
@import 'front-lists.scss';
@import 'front-anime.scss';
@import 'front-episode.scss';


@import '_footer.scss';

/*
.pushNotificationBox {
	position: fixed;
	bottom: 10px;
	left: 10px;

	> .btn {

		> i {
			color: $colorMain;

			-webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	    	-o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	    	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
		}

		&:hover {
			background-color: $colorMain !important;

			> i {
				color: #FFF;
			}
		}
	}
}
*/