body{background-color:#673ab7}.content{display:block;width:94%;position:absolute;left:2%;top:50%;transform:translateY(-50%);text-align:center;font-family:"Roboto",sans-serif}.content .frase{font-size:1.1em;color:#FFF}.content .autor{font-size:0.8em;color:#838192}
