<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">
		<div class="jumbotron">
        	<h1 class="text-center">404 - Página não encontrada</h1>
        </div>
	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>