<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">
		
		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<a href="<%= page.breadcrumb[1].url %>" class="internalUrl"><%= page.breadcrumb[1].title %></a>
			</li>
			<li>
				<%= page.title %>
			</li>
		</ol>

		<h1 itemprop="name"><%= anime.title %></h1>

		<div class="well well-np">
			<div class="row boxAnimeInfo">
				<div class="col-md-2 col-sm-4 imagePart">
					<img class="img-responsive" alt="<%= anime.title %>" title="<%= anime.title %>" src="<%= utils.getCoverUrl(anime.cover) %>" itemprop="image" />
				</div>
				<div class="col-md-10 col-sm-8 infoPart">
					<p class="text-justify mbot-0" itemprop="description"><%- anime.synopsis %></p>
				</div>
			</div>
		</div>

		<% var adExtraClass = ' mbot-20' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>

		<div class="well">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#episodes" data-toggle="tab">Episódios</a></li>
				<% if ( ovaEpisodes.length ) { %>
					<li><a href="#ovas" data-toggle="tab">OVAs</a></li>
				<% } %>
				<% if ( movieEpisodes.length ) { %>
					<li><a href="#movies" data-toggle="tab">Filmes</a></li>
				<% } %>
				<% if ( teaserEpisodes.length ) { %>
					<li><a href="#teasers" data-toggle="tab">Teasers</a></li>
				<% } %>
			</ul>

			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="episodes">
					<table class="table table-striped table-hover mbot-0">
						<tbody>
							<% for(i in normalFillerEpisodes) {
								var episode = normalFillerEpisodes[i];
								%>
								<tr>
									<td>
										<a href="<%= page.pages.episode.url.sprintf(anime.slug, episode.slug) %>" class="internalLink" title="<%= page.pages.episode.linkTitle.sprintf(episode.title) %>"><%= episode.title %></a>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>

				<% if ( ovaEpisodes.length ) { %>
					<div class="tab-pane fade" id="ovas">
						<table class="table table-striped table-hover mbot-0">
							<tbody>
								<% for(i in ovaEpisodes) {
									var episode = ovaEpisodes[i];
									%>
									<tr>
										<td>
											<a href="<%= page.pages.episode.url.sprintf(anime.slug, episode.slug) %>" class="internalLink" title="<%= page.pages.episode.linkTitle.sprintf(episode.title) %>"><%= episode.title %></a>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				<% } %>

				<% if ( movieEpisodes.length ) { %>
					<div class="tab-pane fade" id="movies">
						<table class="table table-striped table-hover mbot-0">
							<tbody>
								<% for(i in movieEpisodes) {
									var episode = movieEpisodes[i];
									%>
									<tr>
										<td>
											<a href="<%= page.pages.episode.url.sprintf(anime.slug, episode.slug) %>" class="internalLink" title="<%= page.pages.episode.linkTitle.sprintf(episode.title) %>"><%= episode.title %></a>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				<% } %>
				
				<% if ( teaserEpisodes.length ) { %>
					<div class="tab-pane fade" id="teasers">
						<table class="table table-striped table-hover mbot-0">
							<tbody>
								<% for(i in teaserEpisodes) {
									var episode = teaserEpisodes[i];
									%>
									<tr>
										<td>
											<a href="<%= page.pages.episode.url.sprintf(anime.slug, episode.slug) %>" class="internalLink" title="<%= page.pages.episode.linkTitle.sprintf(episode.title) %>"><%= episode.title %></a>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				<% } %>
			</div>
		</div>

		<% var adExtraClass = ' mbot-20' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>

		<% include partials/animes-similar.ejs %>

	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>