<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>
	<section class="container">
		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li class="active">
				<%= page.title %>
			</li>
		</ol>

		<div class="row">
			<div class="col-md-12">
				<h1 class="h2 no-margin-top"><%= page.title %></h1>
				<hr />
				<p><%= page.description %></p>
				<p><a href="mailto:<%= config.email %>"><%= config.email %></a></p>
			</div>
		</div>
	</section>
<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>