<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<%= page.title %>
			</li>
		</ol>

		<div class="panel panel-primary">
			<!--
			<div class="panel-heading">
				<div class="panel-title">A sua contribuição é vital para que o site continue funcionando</div>
			</div>
			-->
			<div class="panel-body">
				<h2>Antes de mais nada, você sabe o que é o Animout?</h2>
				<p>- Estava eu lá, menino feliz e serelepe procurando um site para assistir animes online.</p>
				<p>- Entrei no primeiro site que encontrei. Obaaaa, tem muitos animes!</p>
				<p>- Ué, mas pera aí, não é HD. Próooooximo!</p>
				<p>- Segundo site. Ué, cadê o HD? Próximo!</p>
				<p>- Terceiro! Quarto, quinto, etc</p>
				<p>- Cadê o FUCKING HD desses sites?</p>
				<p>Bom, acho que deu pra entender né?</p>
				<p>Esse é o objetivo do Animout, oferecer animes online com qualidade, pq chega de sites genéricos com link do Uol Mais em 360p né?</p>

				<h2>Mas tudo isso tem um custo</h2>
				<p>É impossível oferecer toda essa qualidade sem um servidor potente para poder renderizar os episódios em HD.</p>
				<p>Esse servidor custa atualmente <strong>R$ 300</strong> (trezentos reais)</p>
				<p>Eu estive bancando do meu bolso por 6 meses, ou seja, eu gastei R$ 1.800 para poder oferecer Animes em HD pra vocês!</p>
				<p>Infelizmente eu não tenho mais condições de manter o site sozinho.</p>
				<p>
					Por isso precisamos muito da ajuda de vocês.
					<br />
					<i>Sim, "precisamos" pois hoje a equipe não tem apenas eu. A equipe é composta por + 3 integrantes vitais que ajudam a manter os episódios atualizados diariamente!</i>
				</p>

				<h2>Quero ajudar, como faço?</h2>
				<p>Primeiramente, gostaria de agradece-lo. Muito obrigado, sua ajuda fará a diferença para muita gente! Obrigado de verdade!</p>
				<p>"Segundamente", é muito simples, basta clicar no botão abaixo e fazer uma doação através do PagSeguro(Uma ferramenta de pagamentos online muito segura)</p>
				<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
				<form action="https://pagseguro.uol.com.br/checkout/v2/donation.html?iot=button" method="post">
				<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
				<input type="hidden" name="currency" value="BRL" />
				<input type="hidden" name="receiverEmail" value="diogobruni@gmail.com" />
				<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</form>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
				<p>Pronto, muito obrigado pela sua contribuição!</p>

				<h2>Metas mensais <small>Acompanhe e confira as metas mensais</small></h2>
				<% var monthDonations = donation.monthDonations %>
					
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
					<% for( i in monthDonations) { %>
						<%
							var monthDonation = monthDonations[i];
							var progressPercent = Math.round((monthDonation.donatedValue * 100) / monthDonation.neededValue);
							var opened = i + 1 >= monthDonations.length ? 'in' : '';
						%>
						<div class="panel-heading" role="tab" id="heading<%= i %>">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
									<%= monthDonation.monthName %>
								</a>
							</h4>
						</div>
						<div id="collapse<%= i %>" class="panel-collapse collapse <%= opened %>" role="tabpanel" aria-labelledby="heading<%= i %>">
							<div class="panel-body">
								<div class="progress progress-default">
									<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= progressPercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progressPercent %>%">
										<span class="sr-only"><%= 'R$' + monthDonation.donatedValue + ' de R$' + monthDonation.neededValue %></span>
									</div>
								</div>
							</div>
						</div>
					<% } %>
					</div>
				</div>

				<p><strong>PS: Todo e qualquer valor que exceda o valor necessário será automaticamente transferido para o próximo mês.</strong></p>
			</div>
		</div>
	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>