<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<%= page.title %>
			</li>
		</ol>

		<% var adExtraClass = ' mbot-20' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>
		
		<div class="row">
			<% for(i in itemList) {
				var episode = itemList[i];
				%>
				<% include partials/episode-thumbnail-item-list.ejs %>

				<% if ( i == 11 ) { %>
					<% var adExtraClass = ' mbot-20' %>
					<% include partials/ad-adsense-responsive-wide-width.ejs %>
				<% } %>
			<% } %>
		</div>
		
		<% var adExtraClass = ' mbot-0' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>

		<% include partials/pager.ejs %>
	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>