<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<a href="<%= page.breadcrumb[1].url %>" class="internalUrl"><%= page.breadcrumb[1].title %></a>
			</li>
			<li>
				<a href="<%= page.breadcrumb[2].url %>" class="internalUrl"><%= page.breadcrumb[2].title %></a>
			</li>
			<li>
				<%= page.title %>
			</li>
		</ol>

		<h1 itemprop="name"><%= episode.title %></h1>

		<% if ( typeof(episode.media) != 'undefined' && typeof(episode.media.torrent) != 'undefined' && typeof(episode.media.file) != 'undefined' ) { %>
			<div class="boxVideoPlayer" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
				<% if ( config.ads.show.midroll ) { %>
					<div class="midrol midrol-1">
						<!--<div class="ops"></div>-->
						<a href="javascript:void(0)" class="ad-close"></i></a>
						<% include partials/ad-mid-roll.ejs %>
					</div>
					<div class="midrol midrol-2">
						<!--<div class="ops"></div>-->
						<a href="javascript:void(0)" class="ad-close"></a>
						<% include partials/ad-mid-roll.ejs %>
					</div>
				<% } %>
				<video id="animout-player" class="video-js" poster="<%= utils.getVideoLoadingImage() %>" autoplay controls data-torrent-file="<%= utils.getTorrentUrl(episode.media.torrent) %>" data-video-file="<%= utils.getWebseedUrl(episode.media.file) %>" data-preroll="<%= config.ads.show.midroll ? 'true' : 'false' %>"></video>
			</div>
		<% } else if ( typeof(episode.youtube) != 'undefined' ) { %>
			<div class="boxYoutubePlayer embed-responsive embed-responsive-16by9" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
				<iframe class="embed-responsive-item" src="<%= utils.youtubeEmbedUrl(episode.youtube) %>" frameborder="0" allowfullscreen></iframe>
			</div>
		<% } %>

		<div class="boxVideoInfo">
			<div class="well">
				<span class="views"><%= episodeViews %> <%= episodeViews == 1 ? 'visualização' : 'visualizações' %></span>
				
				<p class="publish-date">Adicionado em <%= utils.moment(episode.pubDate).format('DD/MM/YYYY') %></p>

				<p itemprop="description"><%= episode.description %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><%= prevStuff.boxTitleText %></h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover mbot-0 first-borderless">
							<tbody>
								<% if ( prevStuff.episodes && prevStuff.episodes.length ) { %>
									<% for( i in prevStuff.episodes ) {
										var prevEpisode = prevStuff.episodes[i];
										%>
										<tr>
											<td>
												<a class="internalLink" href="<%= page.pages.episode.url.sprintf(prevEpisode._owner.slug, prevEpisode.slug) %>" title="<%= page.pages.episode.linkTitle.sprintf(prevEpisode.title) %>"><%= prevEpisode.title %></a>
											</td>
										</tr>
									<% } %>
								<% } else { %>
									<tr>
										<td><%= prevStuff.boxNoEpisodesText %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><%= nextStuff.boxTitleText %></h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-hover mbot-0 first-borderless">
							<tbody>
								<% if ( nextStuff.episodes && nextStuff.episodes.length ) { %>
									<% for( i in nextStuff.episodes ) {
										var nextEpisode = nextStuff.episodes[i];
										%>
										<tr>
											<td>
												<a class="internalLink" href="<%= page.pages.episode.url.sprintf(nextEpisode._owner.slug, nextEpisode.slug) %>" title="<%= page.pages.episode.linkTitle.sprintf(nextEpisode.title) %>"><%= nextEpisode.title %></a>
											</td>
										</tr>
									<% } %>
								<% } else { %>
									<tr>
										<td><%= nextStuff.boxNoEpisodesText %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<% var adExtraClass = ' mbot-20' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>
		
		<% include partials/animes-similar.ejs %>

		<div class="boxFacebookComments">
			<div class="fb-comments" data-href="<%= page.cleanUrl %>" data-numposts="25" data-width="100%"></div>
		</div>

	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>