<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">
		
		<h1 class="h5 text-center">Aqui você encontrará seus animes preferidos em um um só lugar. Animes Online em qualidade HD!</h1>

		<% var adExtraClass = ' mbot-15' %>
		<% include partials/ad-adsense-responsive-wide-width.ejs %>

		<div class="row">

			<div class="col-md-6">
				<% if ( hasReleasedEpisodes ) { %>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h2 class="panel-title">Animes últimos lançamentos</h2>
						</div>
						<div class="panel-body">
							<div class="row advancedEpisodeList">
								<%	var columnsList = 1; %>
								<% for(i in releasedEpisodes) {
									var episode = releasedEpisodes[i];
									%>
									<% //include partials/episode-thumbnail-item-list.ejs %>
									<% include partials/episode-advanced-item-list.ejs %>

									<% if ( i == 1 ) { %>
										<% var adExtraClass = ' mbot-15' %>
										<% include partials/ad-adsense-responsive-wide-width.ejs %>
									<% } %>
								<% } %>
							</div>
						</div>
					</div>
				<% } %>
			</div>

			<div class="col-md-6">
				<% if ( hasRecentItems ) { %>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h2 class="panel-title">Animes enviados recentemente</h2>
						</div>
						<div class="panel-body">
							<div class="row advancedEpisodeList">
								<%	var columnsList = 1; %>
								<% for(i in recentItems) {
									var episode = recentItems[i];
									%>
									<% //include partials/episode-thumbnail-item-list.ejs %>
									<% include partials/episode-advanced-item-list.ejs %>

									<% if ( i == 5 ) { %>
										<% var adExtraClass = ' mbot-15' %>
										<% include partials/ad-adsense-responsive-wide-width.ejs %>
									<% } %>
								<% } %>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>

	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>