<% include partials/header.ejs %>
	<div class="container">

		<form class="form-signin" action="<%= form.redirectTo %>">
			<input type="hidden" name="action" value="<%= form.ajaxAction %>">

			<h2 class="form-signin-heading"></h2>

			<div class="alert alert-danger formMessage">
				<button type="button" class="close" data-close="alert"></button>
				<span>
					 Entre com seu email e senha
				</span>
			</div>
			
			<div class="form-group label-floating">
				<label class="control-label" for="email">E-mail ou Usuário</label>
				<input type="email" id="email" name="email" class="form-control" required="" autofocus="" value="">
			</div>
			
			<div class="form-group label-floating">
				<label class="control-label" for="password">Senha</label>
				<input type="password" id="password" name="password" class="form-control" required="" value="">
			</div>

			<div class="form-group checkbox">
				<div class="togglebutton">
					<label>
						<input type="checkbox" checked> Lembrar de mim
					</label>
				</div>
			</div>

			<button class="btn btn-lg btn-primary btn-raised btn-block" type="submit">Entrar</button>
		</form>

    </div>
<% include partials/footer.ejs %>