{
	"name": "<%= config.notifications.name %>",
	"short_name": "<%= config.notifications.shortname %>",
	"start_url": "/",
	"display": "standalone",
	"gcm_sender_id": "<%= config.notifications.google.number %>",
	"gcm_user_visible_only": true
}