<% if ( !page.isAjax ) { %>
	<% include partials/header.ejs %>
	<% include partials/top-menu.ejs %>
<% } %>

<% if ( !page.isAjax ) { %>
	<div class="ajaxContainer">
<% } %>

	<div class="container">

		<ol class="breadcrumb">
			<li>
				<a href="<%= page.breadcrumb[0].url %>" class="internalUrl">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li>
				<%= page.title %>
			</li>
		</ol>

		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Resultados da pesquisa</h2>
			</div>
			<div class="panel-body">
				<div class="row advancedEpisodeList">
					<%	var columnsList = 2; %>
					<% for(i in itemList) {
						var episode = itemList[i];
						var auxI = parseInt(i);
						%>
						<% //include partials/episode-thumbnail-item-list.ejs %>
						<% include partials/episode-advanced-item-list.ejs %>

						<% if ( (auxI + 1) % 8 == 0 && auxI + 1 >= 6) { %>
							<% var adExtraClass = ' mbot-15' %>
							<% include partials/ad-adsense-responsive-wide-width.ejs %>
						<% } %>
					<% } %>
				</div>
				
				<% include partials/pager.ejs %>
			</div>
		</div>
	</div>

<% if ( !page.isAjax ) { %>
	</div>
<% } %>

<% if ( page.isAjax ) { %>
	<% include partials/js-caller.ejs %>
<% } else { %>
	<% include partials/footer.ejs %>
<% } %>