<% if ( config.ads.show.blocks ) { %>
	<div class="row<%= utils.print(adExtraClass) %>">
		<div class="col-xs-12">
			<div class="responsiveAd">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Animout Responsive -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-0329387102990163"
				     data-ad-slot="4635632528"
				     data-ad-format="auto"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</div>
		</div>
	</div>
<% } %>