<% if ( config.ads.show.blocks ) { %>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Animout Full Banner -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:468px;height:60px"
	     data-ad-client="ca-pub-0329387102990163"
	     data-ad-slot="3355545725"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<% } %>