<% /* AdCash
<script data-cfasync="false" type="text/javascript" src="https://www.tradeadexchange.com/a/display.php?r=1237973"></script>
*/ %>
<% /* AdsTerra
<script type="text/javascript">
	atOptions = {
		'key' : '412629331c72467c674079b69f4acb4b',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
</script>
*/ %>

<% /* AdBooth
<script>var adParams = {s: 1000180568, w: 468, h: 60, c: 1, blank: true}; </script><script src="https://js.srcsmrtgs.com/js/ad.js"></script>
*/ %>

<% /* Exoclick */ %>
<script type="text/javascript">
var ad_idzone = "2038795",
	 ad_width = "468",
	 ad_height = "60";
</script>
<script type="text/javascript" src="https://ads.exoclick.com/ads.js"></script>
<noscript><a href="https://main.exoclick.com/img-click.php?idzone=2038795" target="_blank"><img src="https://syndication.exoclick.com/ads-iframe-display.php?idzone=2038795&output=img&type=468x60" width="468" height="60"></a></noscript>