<% if ( config.ads.show.popunder ) { %>
	<% /* Propeller Ads
	<script type="text/javascript" src="//go.pub2srv.com/apu.php?zoneid=586805"></script>
	*/ %>


	<% /* PopCash
	<script type="text/javascript">var uid = '104926';var wid = '207440';</script>
	<script type="text/javascript" src="http://cdn.popcash.net/pop.js"></script>
	*/ %>

	<% /* AdBooth
	<script>section=1000180567;popTimes=10;channel=1;captureFirstClick=true;</script>
	<script src="https://js.srcsmrtgs.com/js/under.js"></script>
	*/ %>

	<% /* ExoClick
	<script type="text/javascript" src="https://syndication.exoclick.com/splash.php?idzone=2039337&type=3"></script>
	*/ %>

	<% /* AdCash
	<script data-cfasync="false" type="text/javascript" src="https://www.tradeadexchange.com/a/display.php?r=1164032"></script>
	*/ %>
	
	<% /* AdMaven */ %>
	<script data-cfasync="false" src="//d17rlarvg2khuc.cloudfront.net/?ralrd=609125"></script>
<% } %>