<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Animes Similares</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<% for(i in similarAnimes) { %>
				<% var anime = similarAnimes[i]['_id'] %>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="well well-np boxThumbnail">
						<div class="imagePart">
							<div class="imagePlace">
								<a class="internalUrl" href="<%= page.pages.anime.url.sprintf(anime.slug) %>" title="<%= page.pages.anime.linkTitle.sprintf(anime.title) %>" rel="bookmark" itemprop="name">
									<img class="img-responsive" alt="<%= anime.title %>" title="<%= anime.title %>" src="<%= utils.getCoverUrl(anime.cover) %>" itemprop="image">
									<div class="imageOverlayEffect"></div>
								</a>
							</div>
						</div>
						<div class="infoPart">
							<span class="title">
								<a class="internalUrl" href="<%= page.pages.anime.url.sprintf(anime.slug) %>" title="<%= page.pages.anime.linkTitle.sprintf(anime.title) %>" rel="bookmark" itemprop="name">
									<%= anime.title %>
								</a>
							</span>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>