<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="well well-np boxThumbnail">
		<div class="imagePart">
			<div class="imagePlace">
				<a class="internalUrl" href="<%= page.episodeUrl.sprintf(episode._owner.slug, episode.slug) %>" title="<%= episode.title %>" rel="bookmark" itemprop="name">
					<img class="img-responsive" alt="<%= episode.title %>" title="<%= episode.title %>" src="<%= utils.getCoverUrl(episode._owner.cover) %>" itemprop="image">
					<div class="imageOverlayEffect"></div>
				</a>
			</div>
		</div>
		<div class="infoPart">
			<span class="title">
				<a class="internalUrl" href="<%= page.episodeUrl.sprintf(episode._owner.slug, episode.slug) %>" title="<%= episode.title %>" rel="bookmark" itemprop="name">
					<%= episode.title %>
				</a>
			</span>
			<span class="views">
				<i class="fa fa-eye"></i> <%= episode.views %>
			</span>
		</div>
	</div>
</div>