<%
	var depthClasses = [];
	switch(columnsList) {
		case 1:
			depthClasses = [
				'col-md-12 col-sm-6 col-xs-12',
				'col-md-2 col-sm-12',
				'col-md-10 col-sm-12',
			];
		break;
		case 2:
			depthClasses = [
				'col-md-6 col-sm-6 col-xs-12',
				'col-md-2 col-sm-12',
				'col-md-10 col-sm-12',
			];
		break;
	}
%>
<div class="<%= depthClasses[0] %>">
	<div class="row">
		<div class="<%= depthClasses[1] %>">
			<div class="imagePart">
				<div class="imagePlace">
					<a class="internalUrl" href="<%= page.pages.episode.url.sprintf(episode._owner.slug, episode.slug) %>" title="<%= page.pages.episode.linkTitle.sprintf(episode.title) %>" rel="bookmark" itemprop="name">
						<img class="img-responsive" alt="<%= episode.title %>" title="<%= episode.title %>" src="<%= utils.getCoverUrl(episode._owner.cover) %>" itemprop="image">
						<div class="imageOverlayEffect"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="<%= depthClasses[2] %>">
			<div class="titleContentPart">
				<div class="episodeTitleBox">
					<a class="internalUrl episodeTitle" href="<%= page.pages.episode.url.sprintf(episode._owner.slug, episode.slug) %>" title="<%= episode.title %>" rel="bookmark" itemprop="name">
						<span><%= episode.title %></span>
						<span class="badge views">
							<i class="fa fa-eye"></i> <%= episode.viewsCount %>
						</span>
					</a>
				</div>
				
				<div class="animeTitleBox">
					<a class="internalUrl animeTitle label label-primary ellipsis" href="<%= page.pages.anime.url.sprintf(episode._owner.slug) %>" title="<%= page.pages.anime.linkTitle.sprintf(episode._owner.title) %>" rel="bookmark" itemprop="name">
						<i class="fa fa-tv"></i> <%= episode._owner.title %>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
