		<% if ( page.hasFooter ) { %>
			<footer class="site-footer">
				<div class="container">
					<% include partners.ejs %>
					
					<% /*
					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<h3>Cloudcast</h3>

							<ul class="list-unstyled">
								<li><a href="/" title="Página Principal" class="internalUrl">Home</a></li>
								<li><a href="/podcasts" title="Lista de Podcasts" class="internalUrl">Podcasts</a></li>
								<li><a href="/sugerir-podcast" title="Sugerir Podcast" class="internalUrl">Sugerir Podcast</a></li>
								<li><a href="/contato" title="Contato" class="internalUrl">Contato</a></li>
							</ul>
						</div>
						<div class="col-md-4 col-md-offset-3">
							<h3>Podcasts Populares</h3>

							<ul class="list-unstyled">
								<li><a href="/podcast/nerdcast" title="Nerdcast" class="internalUrl">Nerdcast</a></li>
								<li><a href="/podcast/matando-robos-gigantes" title="Matando Robôs Gigantes" class="internalUrl">MRG</a></li>
								<li><a href="/podcast/99vidas" title="99Vidas" class="internalUrl">99Vidas</a></li>
								<li><a href="/podcast/omelete" title="Omelete" class="internalUrl">Omelete</a></li>
								<li><a href="/podcast/rapaduracast" title="Omelete" class="internalUrl">RapaduraCast</a></li>
							</ul>
						</div>
					</div>
					*/ %>
					
					<% /*
					<div class="row">
						<div class="col-xs-12 footer-credit">
							Feito com <i class="fa fa-heart color-red"></i> por <a href="http://diogobruni.com.br" target="_BLANK">Diogo Bruni</a>
						</div>
					</div>
					*/ %>

					<hr />
					
					<div class="row">
						<div class="col-md-12">
							<h5 class="text-center">Assista Animes Online em HD no seu celular, tablet, smartphone e iphone.</h5>
							<p class="text-center">
								Animout - Animes Online
							</p>
						</div>
					</div>
				</div>
			</footer>
		<% } %>

		<div style="display: none; position: fixed; bottom: 25px; left: 25px;">
			<button class="js-push-button btn btn-raised btn-default">
				Notificação
			</button>
		</div>

		<div class="splash-screen">
			<div class="gif-ajax-loader"></div>
		</div>

		<% include js-caller.ejs %>
		<% include html-auto-like.ejs %>
	</body>
	<!-- END BODY -->
</html>