<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-BR" prefix="og: http://ogp.me/ns#">
	<head>
  		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

		<meta name="description" content="<%= page.description %>" />
		
		<meta property="og:locale" content="pt_BR" />
		<meta property="og:site_name" content="<%= config.extendedName %>" />
		<meta property="og:title" content="<%= utils.pageTitle(page) %>" />
		<meta property="og:description" content="<%= page.description %>" />
		<meta property="og:image" content="<%= utils.print(page.socialImage) %>"/>

		<% if ( config.facebook.moderators.length ) { %>
			<% for( i in config.facebook.moderators ) { %>
				<meta property="fb:admins" content="<%= config.facebook.moderators[i] %>"/>
			<% } %>
		<% } else { %>
			<meta property="fb:app_id" content="<%= config.facebook.appId %>" />
		<% } %>

		<link rel="manifest" href="<%= utils.notificationManifestUrl() %>">

		<title><%= utils.pageTitle(page) %></title>

		<% for(var i = 0; i < page.styles.length; i++) { %>
			<link href="<%= utils.cssUrl(page.styles[i]) %>" rel="stylesheet" <% if (page.styles[i].media != undefined) { %> media="<%= page.styles[i].media %>"<% } %><% if (page.styles[i].id != undefined) { %> id="<%= page.styles[i].id %>"<% } %> />
		<% } %>
		<script type="text/javascript">
			var ajaxurl = '<%= config.ajaxurl %>',
				notification = {
					appId: '<%= config.notifications.one_signal.app_id %>'
				},
				site = {
					name: '<%= config.name %>'
				};
		</script>
	</head>
	<!-- BEGIN BODY -->
	<body class="<%= page.bodyClass %>">
		<% include facebook-sdk.ejs %>
		<% include sticky-alert.ejs %>
