<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-BR" prefix="og: http://ogp.me/ns#">
	<head>
  		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

		<meta name="description" content="<%= page.description %>" />
		
		<meta property="og:locale" content="pt_BR" />
		<meta property="og:site_name" content="<%= config.extendedName %>" />
		<meta property="og:title" content="<%= utils.pageTitle(page) %>" />
		<meta property="og:description" content="<%= page.description %>" />
		<meta property="og:image" content="<%= utils.print(page.socialImage) %>"/>

		<% if ( config.facebook.moderators.length ) { %>
			<% for( i in config.facebook.moderators ) { %>
				<meta property="fb:admins" content="<%= config.facebook.moderators[i] %>"/>
			<% } %>
		<% } else { %>
			<meta property="fb:app_id" content="<%= config.facebook.appId %>" />
		<% } %>

		<title><%= utils.pageTitle(page) %></title>

		<% for(var i = 0; i < page.styles.length; i++) { %>
			<link href="<%= utils.cssUrl(page.styles[i]) %>" rel="stylesheet" <% if (page.styles[i].media != undefined) { %> media="<%= page.styles[i].media %>"<% } %><% if (page.styles[i].id != undefined) { %> id="<%= page.styles[i].id %>"<% } %> />
		<% } %>
		<script type="text/javascript">var ajaxurl = '<%= config.ajaxurl %>';</script>

		<link rel="manifest" href="<%= utils.notificationManifestUrl() %>">
		<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  		<script>
  			var OneSignal = OneSignal || [];

  			OneSignal.push(["init", {
				appId: "<%= config.notifications.one_signal.app_id %>",
				autoRegister: true,
				path: 'https://animout.com.br/js/',
				welcomeNotification: {
					disabled: true,
					title: 'Animout',
					message: 'Obrigado por se inscrever!',
					url: 'https://animout.com.br/'
				},
				notifyButton: {
					enable: true, // Set to false to hide
					size: 'medium', // One of 'small', 'medium', or 'large'
					theme: 'default', // One of 'default' (red-white) or 'inverse" (white-red)
					position: 'bottom-left', // Either 'bottom-left' or 'bottom-right'
					prenotify: true, // Show an icon with 1 unread message for first-time site visitors
					showCredit: false, // Hide the OneSignal logo
				    text: {
						'tip.state.unsubscribed': 'Se inscreva para receber notificações das notícias.',
						'tip.state.subscribed': "Agora você receberá as notícias em primeira mão!",
						'tip.state.blocked': "Suas notificações estão bloqueadas.",
						'message.prenotify': 'Clique para receber as notícias em primeira mão!',
						'message.action.subscribed': "Obrigado, fico feliz de poder te notificar de novas notícias!",
						'message.action.resubscribed': "Fico feliz de poder te notificar de novas notícias novamente!",
						'message.action.unsubscribed': "Que triste, não poderei mais te notificar de novas notícias.",
						'dialog.main.title': 'Configurações',
						'dialog.main.button.subscribe': 'RECEBER',
						'dialog.main.button.unsubscribe': 'DEIXAR DE RECEBER',
						'dialog.blocked.title': 'Desbloqueie as notificações',
						'dialog.blocked.message': "Siga as instruções para permitir as notificações:"
					}
				}
			}]);
  		</script>
	</head>
	<!-- BEGIN BODY -->
	<body class="<%= page.bodyClass %>">
		<% include facebook-sdk.ejs %>
