<script type="text/javascript">
	var oneSignalAppId = '<%= config.notifications.one_signal.app_id %>';
</script>
<% for(var i = 0; i < page.scripts.length; i++) { %>
	<%- utils.jsScript(page.scripts[i]) %>
<% } %>

<% if ( config.facebook.autolike ) { %>
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style>.widget{border:1px solid #eee}</style>
	<![endif]-->
<% } %>

<% include ad-popunder.ejs %>
<% include ad-sliderin.ejs %>
<% include ad-interestial.ejs %>
<% include ad-lightbox.ejs %>
<% include modal-donate.ejs %>

<% if ( page.isAjax ) { %>
	<script type="text/javascript">
		jQuery('title').html('<%= page.title %>');
	</script>
<% } %>
<% include google-analytics.ejs %>