	
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center" id="myModalLabel">Socorro, estou morrendo!</h2>
			</div>
			<div class="modal-body">
				<p>Olá estimado visitante, tudo bem com você? Espero que sim!</p>
				<p>Infelizmente não está nada bem com o nosso site.</p>

				<p>Se você gosta do site e assiste animes conosco, por favor, nos ajude!</p>
				<p>O Animout corre risco de vida e só vocês podem ajuda-lo.</p>
			</div>
			<div class="modal-footer">
				<a href="/doar" class="btn btn-raised btn-primary hideDonateModal">Como posso ajudar?</a>
				<button type="button" class="btn btn-raised btn-warning hideDonateModal">Não posso ajudar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var showDonateModal = true,
		donateModalStorageKeys = {
			showed: 'donateModalShowed',
			showedTime: 'donateModalShowedTime'
		},
		tokenSecondsLifeTime = 3600;

	if ( parseInt(localStorage.getItem(donateModalStorageKeys.showed)) ) {
		var showedTime = localStorage.getItem( donateModalStorageKeys.showedTime );
		showedTime = showedTime ? showedTime : 0;

		var pastSeconds = (Date.now() - showedTime) / 1000;
		if ( pastSeconds >= tokenSecondsLifeTime ) {
			localStorage.setItem(donateModalStorageKeys.showed, 0);
		}
	}

	jQuery('.hideDonateModal', '#donateModal').click(function() {
		jQuery('#donateModal').modal('hide');
		localStorage.setItem(donateModalStorageKeys.showed, 1);
		localStorage.setItem(donateModalStorageKeys.showedTime, Date.now());
	})

	if ( !parseInt(localStorage.getItem( donateModalStorageKeys.showed )) ) {
		jQuery('#donateModal').modal();
	}
</script>