<% if ( pagination.lastPage > 1 ) { %>
	<div class="row">
		<div class="col-md-12">
			<ul class="pager">
				<% if ( pagination.page > 1 ) {
					var prevPage = pagination.page - 1;
					%>
	            	<li><a class="withripple" href="<%= pagination.pageUrl.sprintf(prevPage) %>">Anterior</a></li>
				<% } %>

				<% if ( pagination.page < pagination.lastPage ) {
					var nextPage = pagination.page + 1;
					%>
	            	<li><a class="withripple" href="<%= pagination.pageUrl.sprintf(nextPage) %>">Próxima</a></li>
				<% } %>
	          </ul>
		</div>
	</div>
<% } %>