<div class="row">
	<div class="col-xs-12 partners">
		<% for (i in page.partners) { %>
			<% var partner = page.partners[i] %>
			<a href="<%= partner.url %>" class="btn btn-raised btn-xs" target="_BLANK"><%= partner.title %></a>
		<% } %>
	</div>
</div>