<% if ( config.stickyAlert ) { %>
	<div class="alert alert-success mbot-0 text-center" role="alert">
		<p><strong>O ANIMOUT FICA!</strong> Obrigado a todos que contribuiram e ao <a href="http://megafilmeshd20.org/" target="_BLANK" title="Assista Filmes e Séries Online">MegaFilmesHD 2.0</a></p>
		<p>Agora fazemos parte do grupo MegaFilmes e não iremos fechar, pelo contrário, iremos crescer mais e mais para garantir mais qualidade sempre!</p>
	</div>
<% } %>