<nav class="navbar navbar-default navbar-static-top top-menu" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand internalUrl" href="<%= config.indexUrl %>"> <%= config.name %></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<% if (page.topMenu.length) { %>
					<% for(var i = 0; i < page.topMenu.length; i++) { %>
						<% var itemMenu = page.topMenu[i] %>
						<% if ( typeof(itemMenu.children) != 'undefined' && itemMenu.children.length ) { %>
							<li class="dropdown">
								<a href="<%= itemMenu.href %>" class="internalUrl dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<%= itemMenu.title %> <span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<% for(var j = 0; j < itemMenu.children.length; j++) { %>
										<% var itemChild = itemMenu.children[j] %>
										<li class="<%= typeof(page.page) !== 'undefined' && typeof(itemChild.page) !== 'undefined' && page.page.url == itemChild.page.url ? 'active' : '' %>">
											<a href="<%= itemChild.href %>">
												<% if (typeof(itemChild.ico) && itemChild.ico) { %>
													<i class="<%= itemChild.ico %>"></i>
												<% } %>
												<%= itemChild.title %>
											</a>
										</li>
									<% } %>
								</ul>
								</a>
							</li>
						<% } else { %>
							<li class="<%= typeof(page.page) !== 'undefined' && typeof(itemMenu.page) !== 'undefined' && page.page.url == itemMenu.page.url ? 'active' : '' %>">
								<a href="<%= itemMenu.href %>" class="internalUrl" target="<%= typeof(itemMenu.target) !== 'undefined' ? itemMenu.target : '' %>">
									<% if (typeof(itemMenu.ico) && itemMenu.ico) { %>
										<i class="<%= itemMenu.ico %>"></i>
									<% } %>
									<%= itemMenu.title %>
								</a>
							</li>
						<% } %>
					<% } %>
				<% } %>
			</ul>

			<form id="formNavBarSearch" class="navbar-form nav navbar-nav navbar-right" action="/busca/episodio" method="GET" role="search">
                <div class="input-group">
                    <input name="q" type="search" placeholder="Pesquise aqui" class="form-control col-md-6" value="<%= typeof(page.searchQuery) != 'undefined' ? page.searchQuery : ''; %>">
                    <span class="input-group-btn hide">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
		</div><!--/.nav-collapse -->
	</div>
</nav>