	
<div class="cube">
	<div class="ani1">
		<div class="front"><i></i><i></i><i></i></div>
		<div class="left"><i></i><i></i><i></i></div>
	</div>
	<div class="ani2">
		<div class="front"><i></i><i></i><i></i></div>
		<div class="bottom"><i></i><i></i><i></i></div>
	</div>
	<div class="ani3">
		<div class="front"><i></i><i></i><i></i></div>
		<div class="right"><i></i><i></i><i></i></div>
	</div>
	<div class="ani4">
		<div class="front"><i></i><i></i><i></i></div>
		<div class="top"><i></i><i></i><i></i></div>
	</div>
	<div class="shadow"></div>
</div>