<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-BR" prefix="og: http://ogp.me/ns#">
  <head>
  		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

		<meta name="description" content="<%= page.description %>" />
		
		<meta property="og:locale" content="pt_BR" />
		<meta property="og:site_name" content="<%= config.name %>" />
		<meta property="og:title" content="<%= utils.pageTitle(page) %>" />
		<meta property="og:description" content="<%= page.description %>" />
		<meta property="og:image" content=""/>

		<title><%= utils.pageTitle(page) %></title>

		<% for(var i = 0; i < page.styles.length; i++) { %>
			<link href="<%= utils.cssUrl(page.styles[i]) %>" rel="stylesheet" <% if (page.styles[i].media != undefined) { %> media="<%= page.styles[i].media %>"<% } %><% if (page.styles[i].id != undefined) { %> id="<%= page.styles[i].id %>"<% } %> />
		<% } %>
		<script type="text/javascript">var ajaxurl = '<%= config.ajaxurl %>';</script>
	</head>
	<!-- BEGIN BODY -->
	<body class="<%= page.bodyClass %>">
		<% include top-menu.ejs %>
		<div class="container-fluid">
			<div class="row">
				<% include sidebar-menu.ejs %>
				
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h1 class="page-header"><%= page.title %></h1>