<% for(var i = 0; i < page.scripts.length; i++) { %>
	<script src="<%= utils.jsUrl(page.scripts[i]) %>" type="text/javascript"<% if (page.scripts[i].id != undefined) { %> id="<%= page.scripts[i].id %>"<% } %>></script>
<% } %>