<div class="col-sm-3 col-md-2 sidebar">
	<% for(i in page.sidebarMenu) {
		var groups = page.sidebarMenu[i];
		%>
		<ul class="nav nav-sidebar">
			<% for(j in groups) {
				var item = groups[j]
				if ( user.level < item.page.requiredLevel.view ) continue;
				%>
				<li class="<%= page.reqUrl == item.href ? "active" : "" %>">
					<a href="<%= item.href %>">
						<% if (item.ico) { %>
							<i class="<%= item.ico %>"></i>
						<% } %>
						<%= item.title %>
					</a>
				</li>
			<% } %>
		</ul>
	<% } %>
</div>