<nav class="navbar navbar-default navbar-fixed-top top-menu" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand internalUrl" href="<%= config.indexUrl %>"><i class="fa fa-cloud"></i> <%= config.name %></a>
		</div>
		<div class="navbar-collapse collapse">
		</div><!--/.nav-collapse -->
	</div>
</nav>